
<div class="ambassador">


<h2>Ambassador</h2>

<h3>Email: {{ambassador.email}}</h3>
<h4>Name: {{ambassador.name}}</h4>

<p>Scan Barcode with Dash Ambassador App To Activate</p>

<div id='qrcode'></div>

</div>

{{outlet}}
